<!DOCTYPE html>
<html>
  <head>
    <title>EatBnb</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/react-select/dist/react-select.css">
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBhniPsaDsZ_GZt7J_J9QgOtaf_mesPQl4&libraries=places" %>
    <script id="bootstrap-current-user" type="text/javascript">
      <% if logged_in? %>
      	window.currentUser = <%= render("api/users/user.json.jbuilder",
      		user: current_user).html_safe %>
      <% end %>
      window.images = {
        spoon: "<%= image_path("spoon.png") %>",
        spinner: "<%= image_path("spinner.gif") %>",
        no_results: "<%= image_path("no_results.png") %>"
      }
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
